<!-- Used by all builtin themes. Now we list number of essays and projects. -->

{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div class="nonprintable">
  <nav class="ui stackable menu">
    <a href="{{ site.baseurl}}/" class="brand item">
      <img class="ui avatar image" src="{{ site.data.bio.basics.picture }}"><span>{{ site.data.bio.basics.name }}</span>
    </a>
    {% if num_projects > 0 %}
    <a href="{{ site.baseurl }}/projects" class=" {% if include.active == "projects" %} active {% endif %}item">Projects & Experiences ({{ num_projects }})</a>
    {% endif %}
    {% if num_essays > 0 %}
    <a href="{{ site.baseurl }}/essays" class=" {% if include.active == "essays" %} active {% endif %} item">Essays ({{ num_essays }})</a>
    {% endif %}
    <a href="{{ site.baseurl }}/bio" class=" {% if include.active == "bio" %} active {% endif %} item">{{ site.bio-page-label }}</a>
    <a href="{{ site.baseurl }}/water" class=" {% if include.active == "water" %} active {% endif %} item">💧</a>
    <a href="{{ site.baseurl }}/fire" class=" {% if include.active == "fire" %} active {% endif %} item">🔥</a>
    <a href="{{ site.baseurl }}/surf" class=" {% if include.active == "surf" %} active {% endif %} item">🏄</a>
    <a href="{{ site.baseurl }}/pay" class=" {% if include.active == "pay" %} active {% endif %} item">💰</a>
    <a href="{{ site.baseurl }}/religion" class=" {% if include.active == "religion" %} active {% endif %} item">✝</a>
    <a href="{{ site.baseurl }}/news" class=" {% if include.active == "news" %} active {% endif %} item">📰</a>
    <a href="https://www.nytimes.com/crosswords/game/mini" target="_blank" style="padding-left: 10px; padding-top: 17px;">🧠</a>
    <a href="https://www.nytimes.com/puzzles/spelling-bee" target="_blank" style="padding-left: 22px; padding-top: 17px;">🐝</a>
    <a href="{{ site.baseurl }}/x" class=" {% if include.active == "x" %} active {% endif %} item">🥠</a>
   
    
  </nav>
</div>