<div style="height: 100%" class="ui grid ">

    <div class="column">
  
          <img class="medium ui centered image" style="padding-left: 100px; padding-top: 40px;" src="../images/lanis-11-22.jpg"> </img>

          <h1 style="padding-left: 240px; font-size: small;" hidden>--------------- Velzyland 2022 ---------------</h1>
          <img style="padding-left: 200px; padding-top: 40px;" src="../images/v-land.gif" hidden>

          <h1 style="padding-left: 240px; font-size: small;" hidden>--------------- Ala Moana 2022 ---------------</h1>
          <img style="padding-left: 200px; padding-top: 40px;" src="../images/downthelinebowls.gif" hidden>

    </div>
    
</div>
