<div style="height: 100%" class="ui grid ">

    <div class="column">
  
          <img class="ui image" style="padding-left: 200px; padding-top: 40px;" src="../images/waterfall.gif"> </img>

          <h1 style="padding-left: 250px; padding-top: 40px;">Mahalo...</h1>
          <h1 style="padding-left: 250px; padding-top: 40px;">Mama</h1>
          <h1 style="padding-left: 250px; padding-top: 40px;">Mommy</h1>
          <h1 style="padding-left: 250px; padding-top: 40px;">Daniel</h1>
          <h1 style="padding-left: 250px; padding-top: 40px;">Uncle Lyman</h1>
          <h1 style="padding-left: 250px; padding-top: 40px;">Trevor</h1>
          <h1 style="padding-left: 250px; padding-top: 40px;">Dr. Christopher</h1>
          <h1 style="padding-left: 250px; padding-top: 40px;">Ravi</h1>
          <h1 style="padding-left: 250px; padding-top: 40px;">JN</h1>
          <h1 style="padding-left: 250px; padding-top: 40px;">Tehani</h1>
          <h1 style="padding-left: 250px; padding-top: 40px;">Altenberg</h1>
          <h1 style="padding-left: 250px; padding-top: 40px;">Tom Shek</h1>
          <h1 style="padding-left: 250px; padding-top: 40px;">Moore</h1>
          <h1 style="padding-left: 250px; padding-top: 40px;">...and more</h1>


    </div>
    
</div>

<audio autoplay loop>
    <source src="../audio/water.mp3" type="audio/mpeg">
  </audio>
