<div style="height: 100%" class="ui grid ">

    <div class="column">

          <h1 style="padding-left: 350px; font-size: large; padding-top: 40px; "> 𝗦𝗶𝗻𝗰𝗲 𝘆𝗼𝘂'𝗿𝗲 𝗵𝗲𝗿𝗲, 𝘀𝗲𝗻𝗱 𝗺𝗲 𝗮𝗻 𝗲𝗺𝗮𝗶𝗹 𝗮𝗻𝗱 𝘁𝗲𝗹𝗹 𝗺𝗲 𝗵𝗼𝘄 𝘆𝗼𝘂 𝗴𝗼𝘁 𝗵𝗲𝗿𝗲. </h1>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/chest.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> welcome ​💰​ </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/perotsystems.png"> </img>

          <h1 style="padding-left: 350px; padding-top: 40px; "> https://www.bizjournals.com/pacific/stories/2006/04/17/story1.html </h1>
          <h1 style="padding-left: 350px; padding-top: 40px; "> https://opencorporates.com/companies/us_hi/9738D1 </h1>
          <h1 style="padding-left: 350px; padding-top: 40px; "> https://qpublic.schneidercorp.com/Application.aspx?AppID=1045&LayerID=23342&PageTypeID=4&PageID=9746&Q=41650246&KeyValue=210440490001 </h1>
          <h1 style="padding-left: 350px; padding-top: 40px; "> http://archives.midweek.com/content/columns/eddiesherman_article/eddie_sherman33/ </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/commute.png"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/waihee.JPG"> </img>
          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/coolidge.JPG"> </img>
          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/dow.JPG"> </img>
          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/paloma.JPG"> </img>
          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/pahoa.JPG"> </img>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/vci-small.PNG"> </img>
          <h1 style="padding-left: 200px; font-size: small;"> the similarity between access & reject is permission 🔒 ... the 🌎's circumference is 24,901 mi ... I answered 24,000 </h1>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/vci.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> look for the typos </h1>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/symphony.jpg"> </img>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/TRN.PNG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> TRN like LRH ♦️ no friend </h1>

          <h1 style="padding-left: 250px; font-size: small;">  𝘆𝗼𝘂𝗿 𝗺𝗼𝗺 𝗶𝘀 𝘄𝗲𝗶𝗿𝗱 - 𝗰𝗵𝗮𝗻𝗱𝗹𝗲𝗿 </h1>
          <h1 style="padding-left: 250px; font-size: small;"> 𝗵𝗮𝘃𝗲 𝘂 𝘁𝗮𝗹𝗸𝗲𝗱 𝘄𝗶𝘁𝗵 𝗵𝗲𝗿? - 𝗺𝗲 </h1>
          <h1 style="padding-left: 250px; font-size: small;"> 𝗮 𝗹𝗶𝘁𝘁𝗹𝗲 𝗯𝗶𝘁 - 𝗰𝗵𝗮𝗻𝗱𝗹𝗲𝗿 </h1>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/lanikai-view.PNG"> </img>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/lanikai-view-expanded.PNG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> that is Gina's view </h1>
          <h1 style="padding-left: 350px; padding-top: 40px;"> https://www.hawaiihomemag.com/point-in-time/</h1>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/1610-amenities.JPG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> the one thing it doesn't have anymore... is the magic </h1>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/1610-amenities.JPG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> the one thing it doesn't have... is the convenience to school and work </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/aunteh.PNG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> seamless systems theory </h1>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/brad-talia-oleshansky.PNG"> </img>
          <h1 style="padding-left: 150px; font-size: small;"> coincidence: Brad Nicolai x Brad Oleshansky, both presidents of a car company... one has a sister named Talia, the other has a daughter named Talia </h1>
  
          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/kanghyejung.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> kang hye jung ♦️ flowers for my life ep. 3 </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/sad.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> tiktok ♦️ @chandlergines @atommusic </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/choy.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> this thread 😃 </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/chloe.PNG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/chloe1.PNG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/miya.PNG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/yui.PNG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/yui1.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/chandler0.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/chandler1.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/chandler2.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/chandler3.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/everett.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/peter-minaj.JPG"> </img>

          <h1 style="padding-left: 240px; font-size: small;"> 𝓕𝓪𝓬𝓲𝓪𝓵 𝓮𝔁𝓹𝓻𝓮𝓼𝓼𝓲𝓸𝓷𝓼: </h1>
          <h1 style="padding-left: 240px; font-size: small;"> * "𝓦𝓱𝓪𝓽 𝓪𝓻𝓮 𝓽𝓱𝓸𝓼𝓮 𝓭𝓸𝓽𝓼!?" 𝓒𝓱𝓪𝓷𝓭𝓵𝓮𝓻 & 𝓒𝓱𝓵𝓸𝓮 - shock/anguish (𝕒𝕕𝕕𝕣𝕖𝕤𝕤𝕚𝕟𝕘 𝕥𝕙𝕖 𝕖𝕝𝕖𝕡𝕙𝕒𝕟𝕥 𝕚𝕟 𝕥𝕙𝕖 𝕣𝕠𝕠𝕞)</h1>
          <h1 style="padding-left: 240px; font-size: small;"> * 𝓜𝓪𝓻𝓿𝓲𝓷 𝓞𝓵𝓮𝓼𝓱𝓪𝓷𝓼𝓴𝔂 𝔀𝓱𝓮𝓷 𝓼𝓮𝓮𝓲𝓷𝓰 𝓽𝓱𝓮 𝓻𝓪𝓬𝓺𝓾𝓮𝓽𝓫𝓪𝓵𝓵 𝓬𝓸𝓾𝓻𝓽 - awe</h1>
          <h1 style="padding-left: 240px; font-size: small;"> * 𝓜𝔂 𝓯𝓪𝓬𝓮 𝓪𝓽 𝓕𝓪𝓶𝓲𝓵𝔂 𝓕𝓾𝓷 𝓝𝓲𝓰𝓱𝓽 𝔀𝓱𝓮𝓷 𝓘 𝔀𝓪𝓼 15 - "like u saw a ghost"</h1>
          <h1 style="padding-left: 240px; font-size: small;"> * 𝓛𝓸𝓻𝓲 𝔀𝓱𝓮𝓷 𝓼𝓮𝓮𝓲𝓷𝓰 𝓶𝓮 𝓪𝓽 𝓣𝓻𝓮𝓿𝓸𝓻'𝓼 𝓱𝓸𝓾𝓼𝓮 - disgust</h1>
          <h1 style="padding-left: 240px; font-size: small;"> * 𝓢𝓮𝓮𝓲𝓷𝓰 𝓟𝓮𝓽𝓮𝓻 𝓪𝓯𝓽𝓮𝓻 𝓪𝓵𝓽𝓮𝓻𝓬𝓪𝓽𝓲𝓸𝓷 𝓪𝓽 𝓢𝓾𝓻𝓯 𝓖𝓪𝓻𝓪𝓰𝓮 - timidness</h1>
          <h1 style="padding-left: 240px; font-size: small;"> * 𝓜𝓪𝓻𝓿𝓲𝓷 𝓞𝓵𝓮𝓼𝓱𝓪𝓷𝓼𝓴𝔂 𝔀𝓱𝓮𝓷 𝓱𝓮𝓪𝓻𝓲𝓷𝓰 𝓘 𝔀𝓪𝓼 𝓷𝓸𝓽 𝓰𝓸𝓲𝓷𝓰 𝓽𝓸 𝓬𝓸𝓵𝓵𝓮𝓰𝓮 - bewilderment</h1>
          <h1 style="padding-left: 240px; font-size: small;"> * 𝓚𝔂𝓾𝓷𝓰𝓲𝓶'𝓼 𝓯𝓪𝓬𝓮 𝓪𝓯𝓽𝓮𝓻 𝓽𝓾𝓻𝓷𝓲𝓷𝓰 𝓪𝔀𝓪𝔂 𝓯𝓻𝓸𝓶 𝓶𝓮 𝓸𝓹𝓮𝓷𝓲𝓷𝓰 𝓶𝔂 𝓵𝓪𝓹𝓽𝓸𝓹 - unknown</h1>
          <h1 style="padding-left: 240px; font-size: small;"> * 𝓣𝓱𝓮 𝓹𝓼𝔂𝓬𝓱𝓸𝓵𝓸𝓰𝓲𝓼𝓽 𝔀𝓱𝓮𝓷 𝓘 𝓪𝓷𝓼𝔀𝓮𝓻𝓮𝓭 𝓹𝓪𝓵𝓵𝓲𝓪𝓽𝓮 𝓲𝓷 𝓽𝓱𝓮 𝓥𝓒𝓘 - surprise</h1>
          <h1 style="padding-left: 240px; font-size: small;"> * 𝓙𝓝 𝔀𝓱𝓮𝓷 𝓘 𝓼𝓪𝓲𝓭 𝓪𝓷 𝓪𝓭𝓿𝓪𝓷𝓽𝓪𝓰𝓮 𝓸𝓯 𝓽𝓱𝓮 𝓬𝓸𝓷𝓭𝓸 𝓲𝓼 𝓽𝓱𝓪𝓽 𝓲𝓽 𝓲𝓼 𝓸𝓷𝓮 𝓮𝓷𝓽𝓻𝓪𝓷𝓬𝓮 - his face lit up in agreement "𝙩𝙝𝙖𝙩'𝙨 𝙩𝙧𝙪𝙚"</h1>
          <h1 style="padding-left: 240px; font-size: small;"> * 𝓔𝔁𝓹𝓻𝓮𝓼𝓼𝓲𝓸𝓷 𝓘 𝔀𝓲𝓼𝓱 𝓘 𝓱𝓪𝓭: 𝓒𝓱𝓪𝓷𝓭𝓵𝓮𝓻'𝓼 𝓯𝓪𝓬𝓮 𝓪𝓼 𝓼𝓱𝓮 𝔀𝓪𝓼 𝔀𝓪𝓽𝓬𝓱𝓲𝓷𝓰 𝓕𝓸𝓵𝓲𝓪𝓰𝓮</h1>
          <h1 style="padding-left: 240px; font-size: small;"> * '𝓗𝓮𝔂!!' - 𝓜𝓞 𝓪𝓼 𝓘 𝔀𝓪𝓵𝓴𝓮𝓭 𝓲𝓷𝓽𝓸 𝓱𝓲𝓼 𝓱𝓸𝓾𝓼𝓮 𝓪𝓽 𝓷𝓲𝓰𝓱𝓽 - stink eye & anger</h1>
          
          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/gaara.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> gaara ♦️ rain of needles defense </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/bruno.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> giordano bruno ♦️ yu gi oh </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/usman.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> usman vs masvidal ufc 251 ♦️ defensive mma </h1>

          <h1 style="padding-left: 240px; font-size: small;">𝐒𝐨𝐦𝐞 𝐌𝐨𝐦𝐞𝐧𝐭𝐬</h1>
          <h1 style="padding-left: 240px; font-size: small;">ᴡʜᴏ ᴅᴏ ʏᴏᴜ ʟɪᴠᴇ ᴛʜᴇʀᴇ ᴡɪᴛʜ?!? - ᴘᴇᴛᴇʀ ᴀꜱᴋɪɴɢ ᴀʙᴏᴜᴛ ᴄᴏᴏʟɪᴅɢᴇ</h1>
          <h1 style="padding-left: 240px; font-size: small;">ʟɪᴀ ᴍᴀᴜꜱᴏʟꜰ ᴡᴀɴᴛᴇᴅ ᴛᴏ ɢᴏ ᴊᴇᴛ-ꜱᴋɪɪɴɢ ᴡɪᴛʜ ᴍᴇ ᴀɴᴅ ᴛᴇᴀɴᴀ ʙʀʏᴀɴ ɪɴ ʟᴀɴɪᴋᴀɪ</h1>
          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/jetski.jpg"> </img>
          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/selfiestick.png"> </img>
          <h1 style="padding-left: 240px; font-size: small;">ɢʀᴀɴᴅᴘᴀ ꜱᴀɪᴅ ʜᴇ ʜᴀꜱ ᴍᴇᴛ ᴀɴᴅ ꜱᴘᴏᴋᴇɴ ᴡɪᴛʜ ᴇʟᴏɴ ᴍᴜꜱᴋ</h1>
          <h1 style="padding-left: 240px; font-size: small;">ᴍʏ ᴋɪɴᴅᴇʀɢᴀʀᴅᴇɴ ᴀ+ ʟᴇᴀᴅᴇʀ ᴀᴛ ɴᴜᴜᴀɴᴜ ᴇʟᴇᴍᴇɴᴛᴀʀʏ ᴡʜᴏ ᴡᴏᴜʟᴅ ᴅʀᴀᴡ ᴅʀᴀɢᴏɴꜱ</h1>
          <h1 style="padding-left: 240px; font-size: small;">ᴀɴᴅʀᴇᴡ ᴋᴜʀᴀɴᴏ ᴡᴀꜱ ꜱᴜʀᴘʀɪꜱᴇᴅ ᴛʜᴀᴛ ɪ ʀᴇᴍᴇᴍʙᴇʀ ʜᴇ ᴘʟᴀʏᴇᴅ ᴘɪᴀɴᴏ. ɪ ᴡᴀꜱ ꜱᴜʀᴘʀɪꜱᴇᴅ ʜᴇ ʀᴇᴍᴇᴍʙᴇʀᴇᴅ ᴍʏ ꜱɪꜱᴛᴇʀꜱ' ɴᴀᴍᴇꜱ.</h1>
          <h1 style="padding-left: 240px; font-size: small;">ᴄʜᴀɴᴅʟᴇʀ'ꜱ ᴜɢʟʏ. ᴜʀ ᴄᴜᴛᴇʀ. - ᴋʏʟᴀ ʜᴇᴇ</h1>
          <h1 style="padding-left: 240px; font-size: small;">'ɪ ᴡᴏɴᴅᴇʀ ᴡʜʏ ʜᴇ ᴅᴏᴇꜱɴ'ᴛ ʟɪᴋᴇ ʏᴏᴜ' - ᴀꜱ ᴛᴀʟᴋɪɴɢ ᴀʙᴏᴜᴛ ᴊᴏ</h1>
          <h1 style="padding-left: 240px; font-size: small;">'ᴅᴏ ᴀɴʏ ᴘᴀʀᴇɴᴛꜱ ᴋɴᴏᴡ ᴡʜᴏ ᴋɪᴍ ɪꜱ?' - ᴍᴇ || 'ᴅᴏ ᴛʜᴇʏ ʜᴀᴠᴇ ᴛᴏ ᴋɴᴏᴡ ᴡʜᴏ ꜱʜᴇ ɪꜱ?' - ᴛɴ</h1>
          <h1 style="padding-left: 240px; font-size: small;">'ᴍʏ ꜰʀɪᴇɴᴅꜱ ᴅᴏɴ'ᴛ ᴋɴᴏᴡ ᴡʜᴏ ᴛᴇʜᴀɴɪ ɪꜱ....' - ᴇɴ</h1>
          <h1 style="padding-left: 240px; font-size: small;">ᴊᴀʏᴄɪ ʀᴏʙʙɪɴꜱ' ᴘᴀʀᴇɴᴛꜱ ʀᴇᴄᴏɢɴɪᴢɪɴɢ ᴍᴇ ᴀᴛ ᴠᴇʟᴏᴄɪᴛʏ</h1>
          <h1 style="padding-left: 240px; font-size: small;"> ᴛʜᴇ ɴᴀᴛɪᴠᴇ ʙᴀʟɪ ꜱᴛᴇᴡᴀʀᴅꜱ ᴡʜᴏ ᴡᴇʀᴇ ᴍᴜᴄʜ ʙᴇᴛᴛᴇʀ ᴛʜᴀɴ ᴍᴇ ᴀᴛ ᴄʜᴇꜱꜱ</h1>
          <h1 style="padding-left: 240px; font-size: small;"> ʜᴀʀʟᴀɴᴅ ᴄᴏɴꜰɪʀᴍɪɴɢ ᴛʜᴀᴛ ᴛʜᴇ ᴄɪ ꜰᴅʀ ᴡᴀꜱ ᴀ ɢᴏᴏᴅ ʙᴏᴀʀᴅ, ᴇᴠᴇɴ ᴀꜰᴛᴇʀ ʀɪᴅɪɴɢ ɪᴛ ᴡʜᴇɴ ɪᴛ ᴡᴀꜱ ᴅɪɴɢᴇᴅ ᴜᴘ.</h1>
          <h1 style="padding-left: 240px; font-size: small;"> ɢɪɴᴀ ᴛᴀʟᴋɪɴɢ ᴀʙᴏᴜᴛ ᴍᴀʀʏ-ᴀɴɴ - 'ꜱʜᴇ'ꜱ ʙʀᴀɪɴᴡᴀꜱʜᴇᴅ...'</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ʜᴇ ᴅᴏᴇꜱɴ'ᴛ ʟᴏᴏᴋ ɢᴏᴏᴅ...' ᴊᴏ ᴛᴀʟᴋɪɴɢ ᴀʙᴏᴜᴛ ᴢᴀᴠᴇɴ ᴡʜᴏ ʟᴏᴏᴋᴇᴅ ᴅʀᴜɢɢᴇᴅ-ᴏᴜᴛ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ᴛʜᴇ ʙʀɪɢʜᴛ ᴏɴᴇ....' ᴊɴ ᴛᴀʟᴋɪɴɢ ᴀʙᴏᴜᴛ ᴀꜱ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ʏᴏᴜ ʜᴀᴠᴇ ʏᴏᴜʀ ᴍᴏᴛʜᴇʀ'ꜱ ᴘᴇʀꜱᴏɴᴀʟɪᴛʏ...' - ᴍᴀʀʏ ᴀɴɴ ꜱᴘᴇᴀᴋɪɴɢ ᴛᴏ ᴍᴇ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ᴛʜᴇ ꜱᴘᴇᴀᴋᴇʀ ᴀᴛ ᴍᴘɪ ɢʀᴀᴅᴜᴀᴛɪᴏɴ ᴄᴀʟʟᴇᴅ ᴍʏ ꜰᴜʟʟ ɴᴀᴍᴇ ᴡɪᴛʜ ᴛʜᴇ 'ᴍᴀꜱᴀɪᴄʜɪ ᴋᴀɪᴏʟᴏʜɪᴀ' ᴍɪᴅᴅʟᴇ ɴᴀᴍᴇꜱ.... ᴇᴠᴇʀʏᴏɴᴇ ʟᴀᴜɢʜᴇᴅ... ᴀꜰᴛᴇʀᴡᴀʀᴅꜱ ᴛᴀʏʟᴏʀ ꜰʀᴇɪᴛᴀꜱ ᴄᴀᴍᴇ ᴜᴘ ᴛᴏ ᴀɴᴅ ꜱᴀɪᴅ 'ɪ ᴅɪᴅɴ'ᴛ ᴋɴᴏᴡ ʏᴏᴜ ʜᴀᴅ ꜱᴜᴄʜ ᴇᴛʜɴɪᴄ ɴᴀᴍᴇꜱ'.</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ᴍʏ ᴄᴏᴜꜱɪɴ ɪꜱ ꜱᴛᴜᴅʏɪɴɢ ᴀʀᴄʜɪᴛᴇᴄᴛᴜʀᴇ ᴀᴛ ʜᴀʀᴠᴀʀᴅ' ... 'ᴀʀᴄʜɪᴛᴇᴄᴛᴜʀᴇ?! ɪ ɢᴜᴇꜱꜱ ᴛʜᴀᴛ'ꜱ ɪᴍᴘᴏʀᴛᴀɴᴛ.' ᴍᴇ ᴛᴀʟᴋɪɴɢ ᴛᴏ ꜱᴜꜱᴀɴɴᴇ ꜱᴛɪʟʟ</h1>
          <h1 style="padding-left: 240px; font-size: small;"> ᴅᴀɴɪᴇʟ ᴇʟᴡᴀɴɢᴇʀ ᴛᴀʟᴋɪɴɢ ᴀʙᴏᴜᴛ ᴄʜᴀɴᴅʟᴇʀ ɢɪɴᴇꜱ' ɪɢ: "ɪᴛ'ꜱ ᴊᴜꜱᴛ ʟɪᴋᴇ 'ᴛʜɪꜱ ɪꜱ ᴍʏ ꜰᴀᴄᴇ, ᴛʜɪꜱ ɪꜱ ᴍʏ ꜰᴀᴄᴇ'" </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ɢᴀʏ ᴍᴀʀʀɪᴀɢᴇ ɪꜱ ʟᴇɢᴀʟɪᴢᴇᴅ ɴᴇᴡꜱᴘᴀᴘᴇʀ ɪɴ ᴋɪᴛᴄʜᴇɴ ᴀᴛ ᴅᴏᴡꜱᴇᴛᴛ: "ᴀʀᴇ ʏᴏᴜ ᴀɴᴅ ᴀᴜɴᴛʏ ʏᴏʟᴀɴᴅᴀ ɢᴏɴɴᴀ ɢᴇᴛ ᴍᴀʀʀɪᴇᴅ?!" - ᴍᴇ ".. ɴᴏ" - ᴛᴀʟɪᴀ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ʏᴏᴜ ᴡᴀɴᴛ ᴛʜᴇ ꜰᴜʟʟ ʜᴜᴍᴀɴ ᴇxᴘᴇʀɪᴇɴᴄᴇ.' - ᴀꜱ ... 'ꜱᴇᴇ ʜᴏᴡ ᴛʀɪᴘᴘʏ ᴛʜᴇ ʜᴜᴍᴀɴ ʀᴀᴄᴇ ɢᴇᴛ.' - ʀɴ ... 'ᴛʜᴀᴛ ᴛᴏᴏ.' - ᴀꜱ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ᴍᴜꜱɪᴄ ᴍᴀᴋᴇꜱ ᴛʜᴇ ᴡᴏʀʟᴅ ɢᴏ ʀᴏᴜɴᴅ' - ᴊɴ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ᴜɴᴄʟᴇ ᴋᴇɴɴʏ ʜᴀᴅ ᴛᴏ ꜱᴡᴇᴇᴘ ᴜᴘ ᴀ ᴄᴏɴᴅᴏᴍ' - ʙɴ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ɪ ʟᴏᴠᴇ ꜰᴏʟʟᴏᴡɪɴɢ ʏᴏᴜ' ... 'ʏᴏᴜ ᴀʀᴇ ᴛʀᴜʟʏ ᴀᴍᴀᴢɪɴɢ' ... 'ɢᴏ ᴘʀᴏ'... 'ʏᴏᴜ ᴀʀᴇ ʙᴇᴛᴛᴇʀ ᴛʜᴀɴ ʙʀɪᴀɴ ᴍᴀʟᴀɴᴀᴘʜʏ'- ʟᴏᴋᴇ ꜱɪᴍᴏɴ ᴛᴀʟᴋɪɴɢ ᴀʙᴏᴜᴛ ᴍʏ ɪɢ ᴘʜᴏᴛᴏɢʀᴀᴘʜʏ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ᴅᴏᴇꜱ ᴛᴀʟɪᴀ ʀɪᴘ?!' - ᴘᴇᴛᴇʀ ᴋɪᴍ ᴡʜɪʟᴇ ᴀᴛ ᴅᴏᴡꜱᴇᴛᴛ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ɪ ɢɪᴠᴇ ʏᴏᴜ ᴄʀᴇᴅɪᴛ. ʜᴀᴠɪɴɢ ᴛᴡᴏ ᴍᴏᴍꜱ ᴄᴀɴ'ᴛ ʙᴇ ᴇᴀꜱʏ.' - ᴇɴ ... 'ɪᴛ'ꜱ ᴀ ʟᴇᴀʀɴɪɴɢ ᴇxᴘᴇʀɪᴇɴᴄᴇ.' - ʀɴ ... 'ɪ ᴋɴᴏᴡ ɪᴛ ɪꜱ' - ᴇɴ </h1>'
          <h1 style="padding-left: 240px; font-size: small;"> 'ʜᴏᴡ ʏᴏᴜʀ ᴍᴏᴛʜᴇʀ ᴄʀᴇᴀᴛᴇᴅ ʏᴏᴜ...' - ᴛʀᴇᴠᴏʀ ᴀ</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ꜰʟᴜꜱʜ ʏᴏᴜʀ ᴅᴏᴏ ᴅᴏᴏ!' - ᴇɴ</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ʙɪᴋᴇ ᴏɴ ᴛʜᴇ ꜰᴜᴄᴋɪɴɢ ꜱᴛʀᴇᴇᴛ!' - ʀɴ ... 'ɢɪᴠᴇ ᴍᴇ ʏᴏᴜʀ ᴘʜᴏɴᴇ!' - ʙʟᴀᴄᴋ ɢᴜʏꜱ ᴏɴ ʙɪᴋᴇꜱ</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ʜᴏᴡ ʏᴏᴜ ʙᴇᴇɴ ʙʀᴀʜ?!' - ᴍᴀᴋᴀɴᴀ ᴄɪᴏᴛᴛɪ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ᴡʜᴏ ᴡᴏᴜʟᴅ ᴡɪɴ ɪɴ ᴀ ꜱᴄʀᴀᴘ: ʙʀᴀᴅ ʏᴀᴍᴀꜱʜɪᴛᴀ ᴏʀ ʏᴏᴜʀ ᴅᴀᴅ?' - ʀɴ ... 'ᴍʏ ᴅᴀᴅ' - ᴅꜰʟᴏ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ᴡʜʏ ᴅɪᴅɴ'ᴛ ʏᴏᴜ ᴄᴏᴍᴇ ᴡɪᴛʜ ᴛᴏ ᴄᴏꜱᴛᴀ?' ᴘᴋ</h1>
          <h1 style="padding-left: 240px; font-size: small;"> ʙʀᴀᴅ ᴀɴᴅ ʙᴇɴ ʜᴀɴᴅꜱʜᴀᴋɪɴɢ ɪɴ ᴋᴀʜᴀʟᴜᴜ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ᴛʜᴇʏ'ʀᴇ ᴀᴛ ᴛʜᴇ ᴛᴏᴘ' ... 'ᴅᴏɴ'ᴛ ᴇɴᴠʏ ᴛʜᴇᴍ' - ᴇɴ ᴛᴏ ᴍᴇ ᴀʙᴏᴜᴛ ᴍʏ ᴄᴏᴜꜱɪɴꜱ</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ɪᴛ ꜱᴍᴇʟʟꜱ ʙᴀᴅ ʜᴇʀᴇ!!' -ᴘᴋ ᴏɴ ᴛʜᴇ ᴏʀᴀɴɢᴇ ᴄᴏᴜᴄʜ ᴀᴛ ᴅᴏᴡꜱᴇᴛᴛ</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 'ʏᴏᴜʀ ᴅᴀᴅ' - ʙᴏʏ ꜱᴄᴏᴜᴛꜱ ᴛᴏ ᴍᴇ ʀᴇꜰᴇʀʀɪɴɢ ᴛᴏ ᴜɴᴄʟᴇ ʟʏᴍᴀɴ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> "ᴍᴏʀᴇ ʜɪꜱᴛᴏʀɪᴄ!" - ʟʏᴍᴀɴᴀ ᴛᴀʟᴋɪɴɢ ᴀʙᴏᴜᴛ 1610 "ɪᴛ ʟᴏꜱᴛ ᴛʜᴇ ᴍᴀɢɪᴄ." - ʀɴ ... ʟʏᴍᴀɴᴀ ᴀɢʀᴇᴇᴅ</h1>
          <h1 style="padding-left: 240px; font-size: small;"> ᴊᴀᴍɪᴇ ᴏ ᴀᴛ ʙᴏᴡʟꜱ ɢᴇᴛᴛɪɴɢ ɪɴ ᴛʜᴇ ᴡᴀʏ ᴏꜰ ᴊᴏᴊɪ ᴀɴᴅ ᴛʜᴇɴ ᴘᴀᴅᴅʟɪɴɢ ᴏᴠᴇʀ ᴛᴏ ʀᴏᴄᴋᴘɪʟᴇꜱ ʙᴇᴄᴀᴜꜱᴇ ʜᴇ ɢᴏᴛ ꜱᴄᴀʀᴇᴅ</h1>


          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/pool.png"> </img>
          <h1 style="padding-left: 240px; font-size: small;">ɪɴᴛᴇʀᴇꜱᴛɪɴɢ ᴇxᴘᴇʀɪᴍᴇɴᴛ: ᴘᴜᴛ ᴛᴇᴇɴᴀɢᴇ ᴊᴀᴍɪᴇ ᴏʟᴇꜱʜᴀɴꜱᴋʏ ɪɴᴛᴏ ᴀ ᴘᴏᴏʟ ᴏꜰ ʜɪɢʜ ꜱᴄʜᴏᴏʟᴇʀꜱ ᴀɴᴅ ꜱᴇᴇ ʜᴏᴡ ʜᴇ ʙᴜɪʟᴅꜱ ʜɪꜱ ꜱᴏᴄɪᴀʟ ᴄɪʀᴄʟᴇ.</h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/ucla.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> a school i have interest in ♦️ ucla </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/jolesh.JPG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> look for the writing structure issues </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/sydmad.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/watchtower.jpg"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/tunnel-idea.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/bellows.JPG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> future for sale ? ... wavepool ... lazy river </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/wave-pool.JPG"> </img>
          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/wave-pool-1.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;">* ᴛᴇᴅᴅʏ'ꜱ ʙɪɢɢᴇʀ ʙᴜʀɢᴇʀꜱ</h1>
          <h1 style="padding-left: 350px; font-size: small;">** ᴅɪᴘᴘɪɴ ᴅᴏᴛꜱ</h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/jn-air.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;">ᴊɴ ᴀɪʀ</h1>


          <h1 style="padding-left: 240px; font-size: small;"> 🤴  🤴  🤴  🤴  🤴  🤴  🤴  🤴 🤴  🤴 </h1>

          <h1 style="padding-left: 240px; font-size: small;"> 𝓙𝓝 𝓬𝓱𝓸𝓲𝓬𝓮 𝔀𝓸𝓻𝓭𝓼: </h1>
          <h1 style="padding-left: 240px; font-size: small;"> 👂🏻 𝐹𝒶𝓃𝓉𝒶𝓈t𝒾𝒸</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 👂🏻 𝑀𝓎 𝓅𝓁𝑒𝒶𝓈𝓊𝓇𝑒</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 👂🏻 𝒜 𝒹𝑜𝓁𝓁</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 👂🏻 𝐼'𝓁𝓁 𝒷𝑒 𝒹𝒶𝓇𝓃𝑒𝒹</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 👂🏻 𝒴𝑜𝓊𝓇 𝒷𝓇𝑜𝓉𝒽𝑒𝓇𝓈 𝒶𝓃𝒹 𝓈𝒾𝓈𝓉𝑒𝓇𝓈</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 👂🏻 𝓮𝓰𝓸 𝓽𝓻𝓲𝓹</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 👂🏻 𝐻𝒾𝓈... 𝒽𝒾𝓈... 𝐻𝒾𝓈 𝓅𝒶𝓇𝓉𝓎 𝒾𝓃 𝐿𝒶𝓃𝒾𝓀𝒶𝒾!</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 👂🏻 𝕿𝖚𝖘𝖈𝖆𝖓𝖞...</h1>

          <h1 style="padding-left: 240px; font-size: small;"> 𝓙𝓝 𝓶𝓲𝓼𝓼𝓲𝓷𝓰 𝓰𝓲𝓯𝓽𝓼: </h1>
          <h1 style="padding-left: 240px; font-size: small;"> 🎁 𝓉𝒽𝑒 𝓌𝒶𝓁𝓁𝑒𝓉 𝓉𝒽𝒶𝓉 𝒻𝓁𝒾𝓅𝓈 𝒷𝒶𝒸𝓀 𝒶𝓃𝒹 𝒻𝑜𝓇𝓉𝒽</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 🎁 𝓉𝒽𝑒 𝐸𝓈𝓀𝒾𝓂𝑜 𝒷𝑜𝑜𝓀</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 🎁 𝓉𝒽𝑒 𝓂𝑒𝓉𝒶𝓁 𝒹𝑒𝓉𝑒𝒸𝓉𝑜𝓇</h1>
          <h1 style="padding-left: 240px; font-size: small;"> 🎁 𝓉𝒽𝑒 𝓈𝓌𝑒𝒶𝓉𝑒𝓇</h1>

          <h1 style="padding-left: 240px; font-size: small;"> 🤴  🤴  🤴  🤴  🤴  🤴  🤴  🤴 🤴  🤴 </h1>

          <h1 style="padding-left: 240px; font-size: small;"> Ｍｉｓｓｉｎｇ ᔕOᑕIᗩᒪ Ｄａｔａ：</h1>

          <h1 style="padding-left: 240px; font-size: small;"> ☠ ꜰᴀᴄᴇʙᴏᴏᴋ ᴘʀᴏꜰɪʟᴇ ᴘɪᴄᴛᴜʀᴇ - ʙʟᴜᴇ ʟᴏʟʟɪᴘᴏᴘ x ʙʟᴜᴇ ꜰᴀᴄᴇ x ᴜ ᴡᴏᴜʟᴅ - ᴄɢ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ꜰᴀᴄᴇʙᴏᴏᴋ ᴘʀᴏꜰɪʟᴇ ᴘɪᴄᴛᴜʀᴇ - ʙɪᴏꜱᴘʜᴇʀᴇ ᴇᴍɪʟʏ ʟᴜꜱᴛᴇʀ "ᴛʜɪꜱ ᴍᴀᴋᴇꜱ ᴍᴇ ꜱᴏ ʜᴀᴘᴘʏ" "ɪ ᴡᴀɴɴᴀ ꜱᴇᴇ ᴜ 😃😃" *ʟɪᴋᴇᴅ ʙʏ ᴇʟ & ᴄɢ* </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ɪɴꜱᴛᴀɢʀᴀᴍ ᴘʜᴏᴛᴏ - ᴍʏ ᴄᴏᴜꜱɪɴꜱ ᴘʀᴇꜱᴇɴᴛꜱ ᴜɴᴅᴇʀ ᴛʜᴇɪʀ ᴄʜʀɪꜱᴛᴍᴀꜱ ᴛʀᴇᴇ "ᴛʜᴀᴛ ᴡᴀꜱ ꜰᴜQQᴇᴅ ᴜᴘ" </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ɪɴꜱᴛᴀɢʀᴀᴍ ᴘʜᴏᴛᴏ - ᴛʜᴇ ᴏᴘᴛɪᴄᴀʟ ɪʟʟᴜꜱɪᴏɴ ᴘʜᴏᴛᴏ ᴀɴᴅ ᴄᴏᴍᴍᴇɴᴛꜱ ʙʏ ᴍᴀʀᴠɪɴ & ꜰʀɪᴛᴢ ᴏ "ɪ ʟᴏᴠᴇ ᴛʜɪꜱ ᴛʜʀᴇᴀᴅ" </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ɪɴꜱᴛᴀɢʀᴀᴍ ᴘʜᴏᴛᴏ - ᴛʜᴇ ᴘʜᴏᴛᴏ ᴏꜰ ᴛʜᴇ ᴛʀᴇᴇꜱ ᴏɴ ᴛʜᴇ ꜱᴛʀᴇᴇᴛ, ᴄᴏᴍᴍᴇɴᴛ ʙʏ @ᴍᴀʀᴠɪɴᴏʟᴇꜱʜᴀɴꜱᴋʏ "ᴡʜᴀᴛ ᴅᴏᴇꜱ ʀᴏᴍᴀɴ ᴛʜɪɴᴋ?" </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ɪɴꜱᴛᴀɢʀᴀᴍ ᴘʜᴏᴛᴏ - ᴄʜᴀᴍᴇʟᴇᴏɴ ᴡɪᴛʜ ᴍᴏᴋᴜʟᴜᴀꜱ ɪɴ ᴛʜᴇ ʙᴀᴄᴋɢʀᴏᴜɴᴅ - ʟɪᴋᴇᴅ ʙʏ ᴛᴇᴀɴᴀʙʀʏᴀɴ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ɪɴꜱᴛᴀɢʀᴀᴍ ʟɪᴋᴇꜱ ꜰʀᴏᴍ ᴄʜʟᴏᴇɢɪɴᴇꜱ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ɪɴꜱᴛᴀɢʀᴀᴍ ᴘʜᴏᴛᴏ - ᴄʜᴀᴍᴇʟᴇᴏɴ ᴡɪᴛʜ ᴠɪᴇᴡ ᴏꜰ ᴛʜᴇ ᴍᴏᴋᴜʟᴜᴀꜱ, ʟɪᴋᴇᴅ ʙʏ ᴛᴇᴀɴᴀʙʀʏᴀɴ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ɪɴꜱᴛᴀɢʀᴀᴍ ᴘʜᴏᴛᴏ - ᴋʏʟᴀ ʜᴇᴇ ᴡɪᴛʜ ᴍᴇ ꜰʟɪᴘᴘɪɴɢ ᴛʜᴇ ʙɪʀᴅ ᴀᴛ ᴀ ᴘᴀʀᴛʏ ᴀᴛ ɴɪɢʜᴛ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ɪɴꜱᴛᴀɢʀᴀᴍ ᴘʜᴏᴛᴏ - ᴀ ᴘʜᴏᴛᴏ ᴏꜰ ᴍᴇ ᴡɪᴛʜ ꜱᴜɴɢʟᴀꜱꜱᴇꜱ ᴀɴᴅ ᴀ ʙʀɪᴍ ʜᴀᴛ ᴀɢᴀɪɴꜱᴛ ᴀ ᴡᴀʟʟ ʙʏ ᴍɪʏᴀ ʜᴜɢʜᴇꜱ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ɪɴꜱᴛᴀɢʀᴀᴍ ᴘʜᴏᴛᴏ - ᴀ ᴘʜᴏᴛᴏ ᴡɪᴛʜ ᴍᴇ ᴡɪᴛʜ ᴀᴄɴᴇ ᴀɴᴅ ʙᴀʀʙɪᴇɢᴜᴛᴢ, ᴛᴀᴋᴇɴ ɪɴ ᴍʏ ᴏʟᴅ ꜰᴏʀᴅ ᴡʜɪʟᴇ ɪ ᴡᴀꜱ ᴅʀɪᴠɪɴɢ ʜɪᴍ ʜᴏᴍᴇ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ｔｗｉｔｔｅｒ ｉｎｔｅｒａｃｔｉｏｎｓ ｗｉｔｈ ｋｏｄｙ ｐｅａｃｏｃｋ </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ɪɴꜱᴛᴀɢʀᴀᴍ ᴘʜᴏᴛᴏ: "ᴀᴅᴍɪʀᴀʟ ᴛʜᴏᴍᴀꜱ?" -@ᴊᴀᴍɪᴇ.ᴏ</h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ɪɴꜱᴛᴀɢʀᴀᴍ ᴘʜᴏᴛᴏs: ᴘʜᴏᴛᴏꜱ ᴏꜰ ᴍᴇ ᴘᴏꜱᴛᴇᴅ ʙʏ ᴘᴇᴛᴇʀ ᴋɪᴍ</h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ꜰᴀᴄᴇᴛɪᴍᴇ ᴠɪᴅᴇᴏ ꜱᴄʀᴇᴇɴꜱʜᴏᴛ: ɢɪᴠɪɴɢ ᴊᴇꜱꜱɪᴄᴀ ᴢᴀɢᴀᴍɪ ᴀ ᴘʀᴀʏᴇʀ</h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ ɪɴꜱᴛᴀɢʀᴀᴍ ᴘʜᴏᴛᴏ: ᴄᴜᴛᴛɪɴɢ ᴛʜʀᴏᴜɢʜ ᴛʜᴇ ʙꜱ ᴛᴀᴛᴛᴏᴏ - 'ᴜʜ-ᴏʜ' - @ʟɪɴᴅꜱᴀʏꜰᴏꜱᴛᴇʀ3 </h1>
          <h1 style="padding-left: 240px; font-size: small;"> ☠ 𝘁𝗼𝗻𝗶𝗴𝗵𝘁 𝗱𝗶𝗱𝗻'𝘁 𝗴𝗼 𝗮𝘀 𝗶 𝗽𝗹𝗮𝗻𝗻𝗲𝗱: </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/ovisi-lighthouse.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> ovisi Lighthouse  </h1>

          <h1 style="padding-left: 240px; font-size: small;"> 𝓢𝓾𝓼𝓪𝓷𝓷𝓪 𝓢𝓽𝓲𝓵𝓵: 𝓣𝓱𝓮𝓻𝓮 𝓲𝓼 𝓪 𝓷𝓮𝓻𝓿𝓮 𝓽𝓱𝓪𝓽 𝓻𝓾𝓷𝓼 𝓯𝓻𝓸𝓶 𝓽𝓱𝓮 𝓫𝓻𝓪𝓲𝓷 𝓽𝓸 𝓽𝓱𝓮 𝓽𝓲𝓹𝓼 𝓸𝓯 𝓽𝓱𝓮 𝓯𝓲𝓷𝓰𝓮𝓻𝓼 </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/other-lighthouse.PNG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> another lighthouse idea</h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/babychan.jpg"> </img>
          <h1 style="padding-left: 240px; font-size: small;">ᴛᴏᴏᴋ ᴛʜɪꜱ ᴏꜰꜰ ᴊᴏ ᴅᴇᴇ'ꜱ ꜰʙ</h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/dalmatian.jpg"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/itookthispic.jpg"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/chandler.jpg"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/expression.JPG"> </img>
          <h1 style="padding-left: 250px; font-size: small;"> 𝓞𝓿𝓮𝓻 𝓭𝓲𝓷𝓷𝓮𝓻 𝓪𝓽 𝓐𝓭𝓶𝓲𝓻𝓪𝓵 𝓣𝓱𝓸𝓶𝓪𝓼 𝓙𝓝 𝓺𝓾𝓲𝓹𝓹𝓮𝓭 𝓪𝓫𝓸𝓾𝓽 𝓽𝓱𝓮 '𝓭𝓸𝓵𝓵' 𝓱𝓮 𝓼𝓪𝔀 𝓲𝓷 𝓛𝓪𝓷𝓲𝓴𝓪𝓲. </h1>
          <h1 style="padding-left: 250px; font-size: small;"> 𝓙𝓝 𝓼𝓪𝔀 𝓸𝓷𝓮 𝓸𝓯 𝓙𝓝'𝓼 𝓬𝓪𝓻𝓼 𝓪𝓷𝓭 𝓪𝓹𝓹𝓻𝓸𝓪𝓬𝓱𝓮𝓭 𝓪𝓷𝓭 𝓼𝓪𝔀 𝓱𝓮𝓻 𝓲𝓷𝓼𝓲𝓭𝓮. 𝓢𝓱𝓮 𝓼𝓪𝓲𝓭 𝓼𝓱𝓮 𝔀𝓪𝓼 𝔀𝓲𝓽𝓱 𝓡𝓸𝓶𝓪𝓷. </h1>
          <h1 style="padding-left: 250px; font-size: small;"> 'Oԋ.. Oԋ.. Oԋ.. Oԋ.. Oԋ.. ROMAAAN !!' </h1>
          <h1 style="padding-left: 250px; font-size: small;"> 𝕒𝕥 𝕠𝕟𝕖 𝕡𝕠𝕚𝕟𝕥 𝕤𝕙𝕖 𝕨𝕒𝕟𝕥𝕖𝕕 𝕥𝕠 𝕙𝕒𝕧𝕖 𝕤𝕖𝕩 𝕨𝕚𝕥𝕙 𝕞𝕖 𝕠𝕟 𝕖𝕔𝕤𝕥𝕒𝕔𝕪</h1>
          
          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/food.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/bacon.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/sandwich.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/inout.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/burger.JPG"> </img>
          <h1 style="padding-left: 350px; font-size: larger;"> ᗪOO ᗪOO 💩💩💩💩 </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/slugsquash.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> terminating the cursed slug ♦️ spirited away </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/idid.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> mmmmm ... I did - lauren tsai </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/1610.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> 1610 went from qualitative to quantitative </h1>

          <img class="ui image" style="padding-left: 340px; padding-top: 40px; height: 400px;" src="../images/sly-budai.PNG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> sly budai </h1>

          <img class="ui image" style="padding-left: 340px; padding-top: 40px; height: 400px;" src="../images/sunbleach.JPG"> 
          <h1 style="padding-left: 350px; font-size: small;"> sunbleached surf hair </h1>
          
          </img> <img class="ui image" style="padding-left: 340px; padding-top: 40px; height: 400px;" src="../images/tuitele.JPG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> lesbian archetype </h1>

        </img> <img class="ui image" style="padding-left: 340px; padding-top: 40px; height: 400px;" src="../images/tn.JPG"> </img>

    </img> <img class="ui image" style="padding-left: 340px; padding-top: 40px; height: 400px;" src="../images/lgbt.jpg"> </img>

          </img> <img class="ui image" style="padding-left: 300px; padding-top: 40px; height: 400px;" src="../images/trig.webp"> </img>
          <h1 style="padding-left: 300px; font-size: small;">𝗣𝗮𝘁𝘁𝗲𝗿𝗻𝘀</h1>
          <h1 style="padding-left: 250px; font-size: small;">𝘖𝘭𝘦𝘴𝘩𝘢𝘯𝘴𝘬𝘺𝘴 𝘢𝘷𝘰𝘪𝘥𝘦𝘥 𝘏𝘢𝘸𝘢𝘪𝘪𝘢𝘯 𝘸𝘰𝘳𝘥𝘴 (𝘙𝘰𝘶𝘯𝘥 𝘛𝘰𝘱 𝘋𝘳𝘪𝘷𝘦, 𝘛𝘢𝘯𝘵𝘢𝘭𝘶𝘴, 𝘔𝘪𝘥-𝘗𝘢𝘤𝘪𝘧𝘪𝘤 𝘐𝘯𝘴𝘵𝘪𝘵𝘶𝘵𝘦, 𝘊𝘢𝘱𝘪𝘵𝘰𝘭 𝘗𝘭𝘢𝘤𝘦)</h1>
          <h1 style="padding-left: 250px; font-size: small;">𝘛𝘢𝘭𝘪𝘢'𝘴 𝘍𝘰𝘳𝘥 𝘛𝘢𝘶𝘳𝘶𝘴, 𝘠𝘰𝘭𝘢𝘯𝘥𝘢'𝘴 𝘍𝘰𝘳𝘥 𝘛𝘢𝘶𝘳𝘶𝘴, 𝘵𝘩𝘦 𝘍𝘰𝘳𝘥 𝘛𝘢𝘶𝘳𝘶𝘴 𝘛𝘢𝘭𝘪𝘢 𝘨𝘰𝘵 𝘧𝘰𝘳 𝘮𝘦</h1>
          <h1 style="padding-left: 250px; font-size: small;">𝘑𝘕 𝘰𝘸𝘯𝘴 𝘱𝘳𝘰𝘱𝘦𝘳𝘵𝘪𝘦𝘴 𝘪𝘯 𝘴𝘵𝘳𝘪𝘱𝘴 (𝘒𝘢𝘱𝘪𝘰𝘭𝘢𝘯𝘪 𝘉𝘭𝘷𝘥, 𝘕𝘪𝘮𝘪𝘵𝘻 𝘏𝘸𝘺, 𝘔𝘰𝘬𝘶𝘭𝘶𝘢 𝘋𝘳)</h1>
          <h1 style="padding-left: 250px; font-size: small;">T𝘩𝘦 𝘨𝘪𝘳𝘭𝘴 𝘸𝘩𝘰 𝘸𝘰𝘳𝘬 𝘢𝘵 𝘷𝘦𝘭𝘰𝘤𝘪𝘵𝘺 𝘢𝘳𝘦 𝘢𝘭𝘭 𝘣𝘳𝘰𝘸𝘯-𝘴𝘬𝘪𝘯𝘯𝘦𝘥 𝘸𝘪𝘵𝘩 𝘥𝘢𝘳𝘬 𝘩𝘢𝘪𝘳</h1>
          <h1 style="padding-left: 250px; font-size: small;">𝘈𝘴 𝘰𝘧 05.03.2021 - 191/191 𝘰𝘧 @𝘢𝘵𝘰𝘮𝘮𝘶𝘴𝘪𝘤'𝘴 (𝘊𝘩𝘢𝘯𝘥𝘭𝘦𝘳 𝘎𝘪𝘯𝘦𝘴) 𝘱𝘩𝘰𝘵𝘰𝘴 𝘢𝘳𝘦 𝘴𝘦𝘭𝘧𝘪𝘦𝘴</h1>
          <h1 style="padding-left: 250px; font-size: small;">𝘛𝘢𝘭𝘪𝘢'𝘴 𝘺𝘢𝘳𝘥 𝘪𝘯 𝘒𝘢𝘩𝘢𝘭𝘶𝘶 -> 𝘕𝘶𝘶𝘢𝘯𝘶 -> 𝘒𝘢𝘯𝘦𝘰𝘩𝘦</h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/video-wall.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> video wall </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/360-video-wall.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> 360 video wall </h1>

          <h1 style="padding-left: 350px; font-size: small;"></h1>𝕾𝖚𝖕𝖊𝖗𝖓𝖆𝖙𝖚𝖗𝖆𝖑 𝕰𝖓𝖈𝖔𝖚𝖓𝖙𝖊𝖗𝖘 𝖆𝖙 1610: 👻</h1>
          <h1 style="padding-left: 350px; font-size: small;"></h1>𝖎. 𝔈𝔳𝔞𝔫 𝔗𝔰𝔲𝔠𝔥𝔦𝔶𝔞𝔪𝔞 𝔴𝔥𝔢𝔫 𝔭𝔩𝔞𝔶𝔦𝔫𝔤 𝔊𝔲𝔦𝔱𝔞𝔯 ℌ𝔢𝔯𝔬 𝔞𝔩𝔬𝔫𝔢 𝔩𝔞𝔱𝔢 𝔞𝔱 𝔫𝔦𝔤𝔥𝔱. </h1>
          <h1 style="padding-left: 350px; font-size: small;"></h1>𝖎𝖎. 𝔄𝔲𝔫𝔱𝔶 𝔐𝔞𝔯𝔶-𝔄𝔫𝔫 𝔴𝔥𝔢𝔫 𝔰𝔩𝔢𝔢𝔭𝔦𝔫𝔤 𝔬𝔫 𝔬𝔫𝔢 𝔬𝔣 𝔱𝔥𝔢 𝔟𝔢𝔡𝔰. 𝔖𝔥𝔢 𝔠𝔩𝔞𝔦𝔪𝔰 𝔱𝔬 𝔥𝔞𝔳𝔢 𝔢𝔵𝔭𝔢𝔯𝔦𝔢𝔫𝔠𝔢𝔡 𝔰𝔩𝔢𝔢𝔭 𝔭𝔞𝔯𝔞𝔩𝔶𝔰𝔦𝔰 𝔟𝔯𝔬𝔲𝔤𝔥𝔱 𝔲𝔭𝔬𝔫 𝔟𝔶 𝔞 𝔡𝔢𝔪𝔬𝔫(?). 𝔄 𝔰𝔱𝔯𝔬𝔫𝔤 𝔭𝔯𝔢𝔰𝔰𝔲𝔯𝔢 𝔴𝔞𝔰 𝔭𝔲𝔱 𝔬𝔫 𝔥𝔢𝔯 𝔠𝔥𝔢𝔰𝔱, 𝔰𝔥𝔢 𝔰𝔞𝔶𝔰. </h1>
          <h1 style="padding-left: 350px; font-size: small;"></h1>𝖎𝖎𝖎. 𝔄𝔣𝔱𝔢𝔯 𝔱𝔥𝔢 𝔯𝔢𝔫𝔬𝔳𝔞𝔱𝔦𝔬𝔫, ℑ 𝔞𝔭𝔭𝔯𝔬𝔞𝔠𝔥𝔢𝔡 𝔱𝔥𝔢 𝔥𝔬𝔲𝔰𝔢 𝔞𝔱 𝔫𝔦𝔤𝔥𝔱 𝔞𝔩𝔬𝔫𝔢. ℑ 𝔣𝔢𝔩𝔱 𝔞 𝔰𝔱𝔯𝔬𝔫𝔤 𝔭𝔯𝔢𝔰𝔢𝔫𝔠𝔢, 𝔤𝔬𝔱 𝔰𝔠𝔞𝔯𝔢𝔡, 𝔞𝔫𝔡 𝔭𝔯𝔢𝔱𝔱𝔶 𝔪𝔲𝔠𝔥 𝔟𝔬𝔩𝔱𝔢𝔡 𝔬𝔲𝔱 𝔬𝔣 𝔱𝔥𝔢𝔯𝔢. ℑ 𝔱𝔥𝔦𝔫𝔨 𝔱𝔥𝔢 𝔰𝔭𝔦𝔯𝔦𝔱𝔰 𝔯𝔢𝔪𝔢𝔪𝔟𝔢𝔯𝔢𝔡 𝔪𝔢.</h1>
          <h1 style="padding-left: 350px; font-size: small;"></h1>𝖎𝖛. 𝔚𝔥𝔞𝔱 𝔞𝔟𝔬𝔲𝔱 𝔱𝔥𝔢 𝔄𝔩𝔦'𝔦 𝔰𝔭𝔦𝔯𝔦𝔱𝔰?' - 𝔪𝔢 ... '𝔗𝔥𝔢𝔶'𝔯𝔢 𝔰𝔱𝔦𝔩𝔩 𝔱𝔥𝔢𝔯𝔢' - 𝔱𝔞𝔩𝔦𝔞 </h1>
          <h1 style="padding-left: 350px; font-size: small;"></h1>𝖛. 𝔗𝔥𝔢 ℌ𝔞𝔴𝔞𝔦𝔦𝔞𝔫 𝔭𝔯𝔦𝔢𝔰𝔱𝔰 𝔢𝔵𝔞𝔪𝔦𝔫𝔢𝔡 𝔱𝔥𝔢 𝔥𝔬𝔲𝔰𝔢 𝔞𝔫𝔡 𝔞𝔰𝔰𝔢𝔯𝔱𝔢𝔡 𝔱𝔥𝔞𝔱 𝔱𝔥𝔢𝔯𝔢 𝔴𝔢𝔯𝔢 𝔱𝔴𝔬 𝔄𝔩𝔦'𝔦 𝔰𝔭𝔦𝔯𝔦𝔱𝔰 𝔯𝔢𝔰𝔦𝔡𝔦𝔫𝔤 𝔱𝔥𝔢𝔯𝔢. </h1>
          <h1 style="padding-left: 350px; font-size: small;"></h1>𝖛𝖎. 𝔘𝔫𝔠𝔩𝔢 𝔏𝔶𝔪𝔞𝔫 𝔰𝔞𝔶𝔰 𝔥𝔢 𝔣𝔢𝔩𝔱 𝔩𝔦𝔨𝔢 𝔰𝔬𝔪𝔢𝔱𝔥𝔦𝔫𝔤 𝔴𝔬𝔲𝔩𝔡 𝔟𝔢 𝔰𝔱𝔞𝔯𝔦𝔫𝔤 𝔡𝔬𝔴𝔫 𝔞𝔱 𝔥𝔦𝔪 𝔦𝔫 𝔱𝔥𝔢 𝔭𝔞𝔯𝔨𝔦𝔫𝔤 𝔩𝔬𝔱. </h1>





          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/browse.webp"> </img>

          <h1 style="padding-left: 250px; font-size: small;"> 𝓪𝓯𝓽𝓮𝓻 𝓶𝓮𝓮𝓽𝓲𝓷𝓰 𝓶𝓮 𝓯𝓸𝓻 𝓽𝓱𝓮 𝓯𝓲𝓻𝓼𝓽 𝓽𝓲𝓶𝓮, 𝓲𝓸 𝔀𝓮𝓲𝓼𝓼 𝓯𝓸𝓾𝓷𝓭 𝓶𝓮 𝓸𝓷 𝓯𝓪𝓬𝓮𝓫𝓸𝓸𝓴, 𝓪𝓷𝓭 𝓪𝓭𝓶𝓲𝓽𝓽𝓮𝓭 𝓽𝓸 𝓼𝓽𝓪𝓵𝓴𝓲𝓷𝓰 𝓶𝓮 𝓪𝓷𝓭 𝓵𝓲𝓴𝓲𝓷𝓰 𝓪 𝓹𝓸𝓼𝓽 𝓯𝓻𝓸𝓶 𝓿𝓮𝓻𝔂 𝓯𝓪𝓻 𝓫𝓪𝓬𝓴 accidently.</h1>
          <h1 style="padding-left: 250px; font-size: small;"> 𝓈𝒽𝑒 𝒸𝒽𝒶𝓃𝑔𝑒𝒹 𝒽𝑒𝓇 𝓃𝒶𝓂𝑒 𝒻𝓇𝑜𝓂 𝐼𝑜 𝒲𝑒𝒾𝓈𝓈 𝓉𝑜 𝒥𝒶𝓃𝑒 𝒥𝒶𝓃e out of embarrassment of being discovered..</h1>


          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/eating.gif"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/poop.gif"> </img>



    </div>

</div>
<audio autoplay loop>
    <source src="../audio/BJ-Penn.mp3" type="audio/mpeg">
</audio>





