<div style="height: 100%" class="ui grid ">

    <div class="column">
  
          <img class="ui image" style="padding-left: 200px; padding-top: 40px;" src="../images/kanghyejung.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> kang hye jung || flowers for my life ep. 3 </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 20%;" src="../images/sad.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> tiktok || @chandlergines // @atommusic </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; width: 128; height: 120;" src="../images/gaara.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> gaara || rain of needles defense </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; width: 128; height: 120;" src="../images/bruno.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> giordano bruno || yu gi oh </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; width: 128; height: 120;" src="../images/usman.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> usman vs masvidal ufc 251 || defensive wrestling </h1>

    </div>

</div>
<audio autoplay loop>
    <source src="../audio/way.mp3" type="audio/mpeg">
</audio>


