<div style="height: 100%" class="ui grid ">

    <div class="column">
  
          <img class="ui image" style="padding-left: 200px; padding-top: 40px;" src="../images/waterfall.gif"> </img>

          <h1 style="padding-left: 250px; padding-top: 130px;">Mahalo...</h2>
          <h2 style="padding-left: 250px; font-size: smaller">Mama</h2>
          <h2 style="padding-left: 250px; font-size: smaller">Mommy</h2>
          <h2 style="padding-left: 250px; font-size: smaller">Daniel</h2>
          <h2 style="padding-left: 250px; font-size: smaller">Uncle Lyman</h2>
          <h2 style="padding-left: 250px; font-size: smaller">Trevor</h2>
          <h2 style="padding-left: 250px; font-size: smaller">Dr. Christopher</h2>
          <h2 style="padding-left: 250px; font-size: smaller">Ravi</h2>
          <h2 style="padding-left: 250px; font-size: smaller">JN</h2>
          <h2 style="padding-left: 250px; font-size: smaller">Tehani</h2>
          <h2 style="padding-left: 250px; font-size: smaller">Altenberg</h2>
          <h2 style="padding-left: 250px; font-size: smaller">Thomas</h2>
          <h2 style="padding-left: 250px; font-size: smaller">Tom Shek</h2>
          <h2 style="padding-left: 250px; font-size: smaller">Moore</h2>
          <h2 style="padding-left: 250px; font-size: smaller">...and more</h2>


    </div>
    
</div>

<audio autoplay loop>
    <source src="../audio/water.mp3" type="audio/mpeg">
  </audio>
