<div style="height: 100%" class="ui grid ">

    <div class="column">

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/chest.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> Welcome ​💰​ </h1>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/vci-small.PNG"> </img>
          <h1 style="padding-left: 250px; font-size: small;"> the similarity between access & reject is permission 🔒 ... the 🌎's circumference is 24,901 mi ... I answered 24,000 </h1>


          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/TRN.PNG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> TRN like LRH // no friend </h1>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/lanikai-view.PNG"> </img>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/lanikai-view-expanded.PNG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> That is Gina's view </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/aunteh.PNG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> example of seamless systems theory </h1>

          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/brad-talia-oleshansky.PNG"> </img>
          <h1 style="padding-left: 150px; font-size: small;"> Coincidence: Brad Nicolai x Brad Oleshansky, both presidents of a car company. One has a sister named Talia, the other has a daughter named Talia </h1>
  
          <img class="ui image" style="padding-left: 200px; padding-top: 40px; height: 400px;" src="../images/kanghyejung.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> kang hye jung || flowers for my life ep. 3 </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/sad.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> tiktok || @chandlergines @atommusic </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/choy.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> this thread 😃 </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/chloe.PNG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/chloe1.PNG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/miya.PNG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/yui.PNG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/yui.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/everett.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/peter-minaj.JPG"> </img>
          
          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/gaara.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> gaara || rain of needles defense </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/bruno.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> giordano bruno || yu gi oh </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/usman.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> usman vs masvidal ufc 251 || defensive mma </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/ucla.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> a school i have interest in || ucla </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/sydmad.JPG"> </img>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/watchtower.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> watchtower + lodgings </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/ovisi-lighthouse.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> Ovisi Lighthouse  </h1>
          <h1 style="padding-left: 280px; font-size: small;"> Wailea Lighthouse will have space between exterior and interior walls, for electrical cordings, and aquarium on first floor </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/other-lighthouse.PNG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> Another lighthouse idea</h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/slugsquash.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> terminating the cursed slug || spirited away </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/1610.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> 1610 went from qualitative to quantitative </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/idid.gif"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> mmmmm ... I did - lauren tsai </h1>

          <img class="ui image" style="padding-left: 340px; padding-top: 40px; height: 400px;" src="../images/sly-budai.PNG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> sly budai </h1>

          <img class="ui image" style="padding-left: 340px; padding-top: 40px; height: 400px;" src="../images/sunbleach.JPG"> </img> <img class="ui image" style="padding-left: 340px; padding-top: 40px; height: 400px;" src="../images/tuitele.JPG"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> sunbleached surf hair  //  lesbian archetype </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/video-wall.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> video wall </h1>

          <img class="ui image" style="padding-left: 240px; padding-top: 40px; height: 400px;" src="../images/360-video-wall.jpg"> </img>
          <h1 style="padding-left: 350px; font-size: small;"> 360 video wall </h1>


    </div>

</div>
<audio autoplay loop>
    <source src="../audio/BJ-Penn.mp3" type="audio/mpeg">
</audio>




