<div style="height: 100%" class="ui grid ">

    <div class="column">
  
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/religion.JPG"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/jehovah.PNG"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/broadhurst.JPG"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/asteroid.JPG"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/musashi.JPG"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/spy.jpg"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/excellent.JPG"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/calcquiz.jpg"> </img>
          <h1 style="padding-left: 240px; font-size: small;">'ʏᴏᴜ ʀᴇᴍɪɴᴅ ᴍᴇ ᴏꜰ ᴍʏ ꜱᴏɴ. ᴠᴇʀʏ ꜱᴍᴀʀᴛ.' - ꜱʜɪᴜʟɪɴɢ ʜᴜᴀɴɢ</h1>


    </div>
    
</div>