<div style="height: 100%" class="ui grid ">

    <div class="column" style="width: 80%;">
  
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="padding-left: 500px; padding-top: 100px;" target="_blank">
          <input type="hidden" name="cmd" value="_donations" />
          <input type="hidden" name="business" value="rn@romannicolai.org" />
          <input type="hidden" name="item_name" value="Thank you... Roman" />
          <input type="hidden" name="currency_code" value="USD" />
          <input type="image" src="https://res.cloudinary.com/togaquest/image/upload/w_100,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_skyblue,b_rgb:262c35/v1576839709/coin_g56bmw.jpg" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" target="_blank"/>
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
          </form>          

          <h1 style="padding-left: 544px"> ⬆ </h1>

          <h1 style="padding-left: 300px; font-size: large;">  
            Pedagogues in Rome and Greece: Dominion of the Fathers: 
        </h1>

        <h1 style="padding-left: 100px; font-size: medium"> <i> <center>
        "The pedagogue was a slave, and generally expected to be educated in some regard. It was the pedagogue's duty to protect
         his charge both physically and morally. He was also somewhat responsible for the education of his charge."
    </i></h1></center>
          
    </div>

    

</div>
