<div style="height: 100%" class="ui grid ">

    <div class="column">
  
          <img class="ui image" style="padding-left: 200px; padding-top: 40px;" src="../images/waterfall.gif"> </img>

          <h1 style="padding-left: 250px; padding-top: 30px;">Mahalo...</h2>
          <h2 style="padding-left: 250px">Mama</h2>
          <h2 style="padding-left: 250px">Mommy</h2>
          <h2 style="padding-left: 250px">Daniel</h2>
          <h2 style="padding-left: 250px">Uncle Lyman</h2>
          <h2 style="padding-left: 250px">Trevor</h2>
          <h2 style="padding-left: 250px">Dr. Christopher</h2>
          <h2 style="padding-left: 250px">Ravi</h2>
          <h2 style="padding-left: 250px">JN</h2>
          <h2 style="padding-left: 250px">Tehani</h2>
          <h2 style="padding-left: 250px">Altenberg</h2>
          <h2 style="padding-left: 250px">Thomas</h2>
          <h2 style="padding-left: 250px">Tom Shek</h2>
          <h2 style="padding-left: 250px">Moore</h2>
          <h2 style="padding-left: 250px">...and more</h2>


    </div>
    
</div>

<audio autoplay loop>
    <source src="../audio/water.mp3" type="audio/mpeg">
  </audio>
