<div style="height: 100%" class="ui grid ">

    <div class="column">
  
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/religion.JPG"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/jehovah.PNG"> </img>
          <a class="ui big image" style="padding-left: 300px; padding-top: 80px; "href="https://en.wikipedia.org/wiki/Nicolaism" target="_blank"><img src="../images/nicolaus.jpg"></a>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/broadhurst.JPG"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/asteroid.JPG"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/musashi.JPG"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/spy.jpg"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/excellent.JPG"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" src="../images/calcquiz.jpg"> </img>
          <img class="ui big image" style="padding-left: 300px; padding-top: 80px;" hidden src="../images/top.PNG"> </img>
          <h1 style="padding-left: 240px; font-size: small;" hidden>'ʏᴏᴜ ʀᴇᴍɪɴᴅ ᴍᴇ ᴏꜰ ᴍʏ ꜱᴏɴ. ᴠᴇʀʏ ꜱᴍᴀʀᴛ.' - ꜱʜɪᴜʟɪɴɢ ʜᴜᴀɴɢ</h1>
          <h1 style="padding-left: 240px; font-size: small;" hidden>** 𝓜𝓲𝓼𝓼𝓲𝓷𝓰 𝓗𝓢 𝓙𝓾𝓷𝓲𝓸𝓻 𝓨𝓮𝓪𝓻 𝓪𝓬𝓪𝓭𝓮𝓶𝓲𝓬 𝓮𝓿𝓪𝓵𝓾𝓪𝓽𝓲𝓸𝓷</h1>
 


    </div>
    
</div>